[user]
  ; name = G Buasai
  ; email = sbuasai@amazon.com
  name = Sirut Buasai
  email = sirutbuasai27@outlook.com

[github]
  user = sirutBuasai

[alias]
  a = add
  aa = add -A
  ac = commit -am
  aca = commit --amend --no-edit -a
  b = branch
  c = commit
  cm = commit -m
  ca = commit --amend --no-edit
  cam = commit --amend -m
  cl = clone
  co = checkout
  com = checkout origin/master --
  dc = diff --cached
  df = diff
  dh = diff HEAD^
  f = fetch
  m = merge
  pl = pull
  plo = pull origin
  plom = pull origin master
  po = push origin
  pom = push origin master
  pu = push
  rb = rebase
  re = restore
  res = restore --staged
  rhard = reset --hard
  rstg = reset --mixed
  rsoft = reset --soft
  st = status
  sts = stash
  stsa = stash apply
  stsd = stash drop
  stsl = stash list
  stsp = stash pop
  tree = log --graph --date=local --pretty=format:'%Cgreen%ad%Creset %Cred%h%Creset %an: %s %Creset %C(yellow)%d%Creset' --all

[color]
  branch = auto
  diff = auto
  ui = auto
  status = auto

[credential]
  helper = osxkeychain

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = green

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[pull]
  rebase = false
