[user]
  ; name = G Buasai
  ; email = sbuasai@amazon.com
  name = Sirut Buasai
  email = sirutbuasai27@hotmail.com

[github]
  user = sirutBuasai

[alias]
  a = add
  aa = add -A
  ac = commit -am
  b = branch
  cm = commit
  cmm = commit -m
  ca = commit --amend --no-edit
  cam = commit --amend -m
  cl = clone
  co = checkout
  dc = diff --cached
  df = diff
  dh = diff HEAD^
  f = fetch
  pl = pull
  plo = pull origin
  plom = pull origin master
  po = push origin
  pom = push origin master
  pu = push
  re = restore
  res = restore --staged
  rhard = reset --hard
  rstg = reset --mixed
  rsoft = reset --soft
  st = status
  sts = stash
  stsp = stash pop
  stsa = stash apply
  tree = log --graph --date=local --pretty=format:'%Cgreen%ad%Creset %Cred%h%Creset %an: %s %Creset %C(yellow)%d%Creset' --all

[color]
  branch = auto
  diff = auto
  ui = auto
  status = auto

[credential]
  helper = osxkeychain

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = green
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
