[user]
	name = sirutBuasai
	email = sirutbuasai27@hotmail.com
[alias]
	co = checkout
	cmsg = commit -m
	cm = commit
	pu = push
	st = status
	cl = clone
	re = restore --staged
[credential]
	helper = osxkeychain
